<div>
  <div>
    Current User: {{currentUser.userName}}
    <div>
      <button md-button (click)="openDialog()">Add Contact</button>
      Contacts:
      <md-table #table [dataSource] = "contactsDataSource">
        <ng-container cdkColumnDef="contactName">
          <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="contactPhoneNumber">
          <md-header-cell *cdkHeaderCellDef> Phone Number </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.phoneNumber | phone}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    </div>
  </div>
</div>
